# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
!runs/client/options.txt
!runs/client/saves/Test

# Files from Forge MDK
forge*changelog.txt
/src/test/
